.cover {
    background-image: url(../../images/cover-trains.jpg);
    background-position: center;
    margin: 0;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration-line:none;
}

.cover::after {
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover:hover {
    background-color: #2A2C2F;
    opacity: 0.8;
}